* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #191919;
  --secondary: #ffa3f8;
}

body {
  background-color: var(--primary);
}

header img {
  width: 100px;
  position: fixed;
  top: 20px;
  left: 20px;
}

nav ul li {
  font-family: var(--font-raleway);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  line-height: 52px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav {
  width: 100vh;
  position: fixed;
  left: 0;
  top: 100%;
  transform-origin: top left;
  transform: rotate(-90deg);
  padding-inline: 30px;
}

nav a {
  text-decoration: none;
  color: inherit;
}